.articulo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  
  .articulo img {
    width: 400px;
    display: flex; }
  
  .articulo p {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 15px; }
  
  
